.rooms-heading {
    padding: 1.5rem;
    text-align: center;
    font-size: 3.7rem;
    color: white;
    margin: 2rem;
}

#rooms {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#room-btn {
    padding: 0.75rem 1.25rem; /* Equivalent to px-5 py-3 */
    border-radius: 1.5rem; /* Equivalent to rounded-xl */
    color: #ffffff; /* Equivalent to text-white */
    background-color: #ae8ff2;
}

#room-btn:hover,
#room-btn:active {
    background-color: #916ae6;
}

.no_rooms_found {
    text-align: center;
    font-size: 3.5rem;
    color: white;
}