body {
    background-image: linear-gradient(#8b5feb, #bf6cec);
    min-height: 100vh;
}

#app-name {
    color: white;
    font-size: x-large;
    margin-left: 4rem;
    font-weight: bolder;
}

nav {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent;
    color: azure;
}

a:hover, 
a:active{
    color:#d2d5d5; 
}

#user-buttons {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}

#sidebar-label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 1.4rem;
}

#sidebar-label:hover {
    color: #f1f1f1;

}

#sidebar-friend-name, #sidebar-room-name {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

#sidebar-friend-name:hover, #sidebar-room-name:hover {
    color: #111;
    font-size: 1.2rem;
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}