.room-action {
    padding: 2.5rem;
    text-align: center;
    position: relative;
}

.frontpage-heading {
    text-align: center;
    margin: 2rem;
}


#new-room {
    text-align: center;
    color: white;
    padding: 2rem;
    border: 2px white solid;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin: 2rem;
}

#new-room:hover,
#new-room:active{
    background-color: white;
    color: #303edc;
}

#rooms {
    text-align: center;
    color: white;
    padding: 2rem;
    border: 2px white solid;
    border-radius: 10px;
    margin: 2rem;
    transition-duration: 0.5s;
}

#rooms:hover,
#rooms:active{
    background-color: white;
    color: #916ae6;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius:5px;
}
  
  /* Modal Content */
.modal-content {
    background-image: linear-gradient(#4937ef, #281c95);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25vw;
    border-radius:5px;
    transition: 0.5s;
    color: black;
}

#create-room-heading {
    font-size: 1.5rem;
    font-weight: bold;
}
  
  /* The Close Button */
.close {
    color: #fbf6f6;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}

#create-room-btn {
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

#create-room-btn:hover,
#create-room-btn:active {
    background-color: #5954eb;
    transition: 0.3s;
}

.form-field {
    padding: 10px;
    border-radius: 5px;
}

label{
    color: white;
}

h2 {
    padding: 10px;
    color: white;
    font-weight: bold;
}
