{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ room.name }} | {% endblock %}

{% block css_files %} 
<link rel="stylesheet" href="{% static 'rooms/room.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<div class="room-heading">
    <a id="room-desc">{{ room.name }}</a>
    <i class="fa fa-info-circle" aria-hidden="true" id="icon1" title="Group Info" style="font-size: 1.5rem;"></i>
    <i class="fa fa-users" aria-hidden="true" id="icon2" title="All Participants" style="font-size: 1.5rem;"></i>

    <div class="about-room-modal" id="about-room-modal">
        <span class="close"></span>
        <div class="modal-content">
            <h1 id="modal-heading">{{ room.name }}</h1>

            <label for="room-desc-text" class="desc-label">Created By</label>
            <p id="room-desc-text">{{ room.created_by }}</p>
            
            <label for="room-desc-text" class="desc-label">About the room</label>
            <p id="room-desc-text">{{ room.description }}</p>
            
        </div>
    </div>

    <div class="participants-modal" id="participants-modal">
        <span class="close"></span>
        <div class="modal-content">
            <label for="participants-list" class="desc-label">All Participants</label>
            <ul id="participants-list">
                {% for participant in participants %}
                <li>
                    <div class="participant">
                        {{ participant.user.username }}
                        {% if participant.user.username == request.session.username %}
                        <a id="you">You</a>
                        {% else %}
                        <i class="fa fa-user-plus" aria-hidden="true" id="add-as-friend" title="Add as friend"><a href="#"></a></i>
                        {% endif %}
                    </div>
                </li>
                {% endfor%}
                <form action="{%  url 'add_participant' room.slug %}" id="add-participant-to-room" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter Participant Username" id="add-participant-name", name="add-participant-name">
                    <button type="submit">Add</button>
                </form>
            </ul> 
        </div>
    </div>
</div>

{% if has_permission %}
<div class="chat-messages-container">
    <div class="chat-messages" id="chat-messages">
        {% for message in messages %}
        <div class="chat-message-box">
            <div class="chat-user-icon">
                <i class="fa fa-user-circle" aria-hidden="true" id="user-icon"></i>
            </div>
            <div class="chat-msg">
                <p class="font-semibold">{{ message.user.username }}</p>
                <p id="chat-message">{{ message.message_text }}</p> 
            </div>
        </div>
        {% endfor %}
    </div>
</div> 

{% if is_participant %}
<div class="chat-msg-input-container">
    <form action="." method="post" class="flex">
        <textarea name="content" id="chat-msg-input" class="flex-1 mr-3" placeholder="Your message..."></textarea>
        <button class="chat-msg-send" id="chat-msg-send">Send</button>
    </form>
</div>
{% else %}
<div id="join-room">
    <a id="join-room-btn" href="{% url 'join_chat_room' room.slug %}">Join Chat!</a>
</div>
{% endif %}

{% else %}
<h1 id="permission-denied">Permission denied for this room!</h1>
{% endif %}

{% endblock %}


{% block scripts %}
{{ request.user.username|json_script:"json-username" }}
{{ room.slug|json_script:"json-roomname" }}
{{ request.session.get_expiry_age|json_script:"json-expiry" }}
<script src="{% static 'js/room.js' %}">
</script>
{% endblock %}