{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ room.name }} | {% endblock %}

{% block css_files %} <link rel="stylesheet" href="{% static 'rooms/room.css' %}"> {% endblock %}

{% block content %}
<div class="room-heading">
    <h1>{{ room.name }}</h1>
</div>

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3" id="chat-messages">
        {% for message in messages %}
            <div class="p-4 bg-gray-200 rounded-xl">
                <p class="font-semibold">{{ message.user.username }}</p>
                <p id="chat-message">{{ message.message_text }}</p> 
            </div>
        {% endfor %}
    </div>
</div> 

<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
    <form action="." method="post" class="flex">
        <textarea name="content" id="chat-msg-input" class="flex-1 mr-3" placeholder="Your message..."></textarea>
        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700" id="chat-msg-send">Send</button>
    </form>
</div>
{% endblock %}


{% block scripts %}
{{ request.user.username|json_script:"json-username" }}
{{ room.slug|json_script:"json-roomname" }}
{{ request.session.get_expiry_age|json_script:"json-expiry" }}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const expiry = JSON.parse(document.getElementById('json-expiry').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        console.log('onmessage')
        console.log(expiry)
        const data = JSON.parse(e.data);
        if(data.message){
            let html_content = '<div class="p-4 bg-gray-200 rounded-xl" id="chat-msg-input">';
                html_content+='<p class="font-semibold">'+data.username+'</p>';
                html_content+='<p>'+data.message+'</p></div>';
            console.log(html_content)
            document.querySelector("#chat-messages").innerHTML+=html_content;

            scrollToBottom()

        }
        else{
            alert("Please type something!")
        }

    };

    chatSocket.onclose = function(e) {
        console.log('onclosed')
    };

    document.querySelector('#chat-msg-send').onclick = function(e){
        e.preventDefault();

        const messageInputDom = document.querySelector("#chat-msg-input");
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            "message":message,
            "username":userName,
            "room":roomName
        }));

        messageInputDom.value = "";

        return false;
    };

    function scrollToBottom(){
        const objDiv = document.querySelector("#chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    scrollToBottom()
</script>
{% endblock %}