{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} DjangoChat</title>
    <script src="https://cdn.tailwindcss.com" ></script>
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    {% block css_files %}{% endblock %}
    <style>
        .chat-messages{
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <nav>
        <div id="app-name">
            <a href="/" >DjangoChat</a>
        </div>

        <div class="flex items-center space-x-4" id="user-buttons">
            {% if request.user.is_authenticated %}
                <button type="menu">Profile</button>
                <a href="/logout/" id="logout">Log Out</a>
            {% else %}
                <a href="/login/"  id="login">Log In</a>
                <a href="/signup/" id="signup">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% if request.user.is_authenticated %}
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/">Home</a>
        <a>Your Friends</a>
        {% for f in friends %}
            <h3><a href="{% url 'room' r.room.slug %}">{{ r.room.name }}</a></h3>
        {% endfor %}
        
        <a>Your Groups</a>
        {% for r in rooms %}
            <h3><a href="{% url 'room' r.room.slug %}">{{ r.room.name }}</a></h3>
        {% endfor %}
    </div>

    <button class="openbtn" onclick="openNav()">☰</button> 
    {% endif %}

    {% block content %}
    {% endblock %}

    <script>
        /////////////////----Side bar navigation----/////////////////// 
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>