{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} DjangoChat</title>
    <script src="https://cdn.tailwindcss.com" ></script>
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    {% block css_files %}{% endblock %}
    <style>
        .chat-messages{
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <nav class="px-16 py-6 bg-[#8b5feb] shadow-inner shadow-md">
        <div id="app-name">
            <a href="/">DjangoChat</a>
        </div>

        <div class="flex items-center space-x-4" id="user-buttons">
            {% if request.user.is_authenticated %}
                <button type="menu">Profile</button>
                <a href="/logout/" id="logout">Log Out</a>
            {% else %}
                <a href="/login/"  id="login">Log In</a>
                <a href="/signup/" id="signup">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% if request.user.is_authenticated %}
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/" id="sidebar-label">Home</a>
        <a id="sidebar-label">Your Friends</a>
        {% for r in rooms %}
            <h3><a href="{% url 'room' r.room.slug %}" id="sidebar-friend-name">{{ r.room.name }}</a></h3>
        {% endfor %}
        
        <a id="sidebar-label">Your Groups</a>
        {% for r in rooms %}
            <h3><a href="{% url 'room' r.room.slug %}" id="sidebar-room-name">{{ r.room.name }}</a></h3>
        {% endfor %}
    </div>

    <button class="openbtn" onclick="openNav()">☰</button> 

    {% else %}
    <div class="mx-auto md:max-w-6xl max-w-md space-y-4 md:space-y-12 my-12">
        <h1 class="text-3xl lg:text-6xl text-white text-center">Django Chat App</h1>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>