{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} DjangoChat</title>
    <script src="https://cdn.tailwindcss.com" ></script>
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
    {% block css_files %}{% endblock %}
    <style>
        .chat-messages{
            height: 400px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <nav>
        <div id="app-name">
            <a href="/" >DjangoChat</a>
        </div>

        <div class="flex items-center space-x-4" id="user-buttons">
            {% if request.user.is_authenticated %}
                <a href="/logout/" id="logout">Log Out</a>
            {% else %}
                <a href="/login/"  id="login">Log In</a>
                <a href="/signup/" id="signup">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>