{% extends 'core/base.html' %}
{% load static %}

{% block title %}Welcome | {% endblock %}

{% block css_files %} <link rel="stylesheet" href="{% static 'core/frontpage.css' %}"> {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Django Chat App</h1>
</div>
{% if request.user.is_authenticated %}
<div class="room-action">
    <a class="dropdown-btn" onclick="toggleDropdown()" id="new-room">Create New Room</a>

    <div class="dropdown-content" id="myDropdown">
        <form action="/rooms/new_room/" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Your Chat Room Name" name="new_room_name">
            <button type="submit">Create</button>
        </form>
    </div>    

    <a href="/rooms/" id="rooms">Join Room</a>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    // Function to toggle the visibility of the dropdown
    function toggleDropdown() {
      var dropdown = document.getElementById("myDropdown");
      dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
    }
  
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropdown-btn')) {
        var dropdown = document.getElementById("myDropdown");
        if (dropdown.style.display === 'block') {
          dropdown.style.display = 'none';
        }
      }
    }
</script>
  
{% endblock %}